/* .man-image {
    width: 100px;
    height: 100px;
    fill: currentColor;
    stroke: black;
  }
  .man-image[color='blue'] {
    fill: blue;
  }
  .man-image[color='white'] {
    fill: white;
  }
   */
  #mysvg:hover{
    filter: invert(49%) sepia(98%) saturate(1069%) hue-rotate(155deg) brightness(87%) contrast(104%);
  }