#matchPage{
    background-image: url("../assets/squares-background.svg"); /* The image used */
  background-position: center; /* Center the image */
  /* background-repeat: no-repeat;  */
  background-size:auto;
}